// Navigation Styles here
.nav-contents {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: dashed 3px lightgray;

    nav{
        font-size: 17.4px;
        a{
            padding-left: 30px;
            color: black;
        }
        a:link{
            text-decoration: none;
        }
    }
}